/* 
 =========================================================================================================================
  header 
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  header {
    --brand-icon-height: 35px;
    font-size: 0.88rem;
  }

  header img {
    height: var(--brand-icon-height);
  }

  header ul {
    margin-right: 4rem;
  }

  header .btn {
    padding: 0.4rem 1.4rem;
    font-size: 0.88rem;
  }
}

@media (max-width: 1200px) {
  header {
    --brand-icon-height: 30px;
    font-size: 0.78rem;
  }

  header img {
    height: var(--brand-icon-height);
  }

  header ul {
    margin-right: 3rem;
  }
}

@media (max-width: 992px) {
  header .container > ul,
  header .container > a {
    display: none;
  }

  header .container > i {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/* 
 =========================================================================================================================
  aside 
 =========================================================================================================================
*/

@media (max-width: 576px) {
  aside img {
    height: 30px;
  }

  aside .container > .btn {
    padding: 0.3rem 1rem;
  }

  aside nav {
    padding-left: 2rem;
  }
}

@media (max-width: 336px) {
  aside img {
    height: 25px;
  }

  aside > .container .btn {
    margin-right: 1rem;
    font-size: 0.88em;
  }
}

/* 
 =========================================================================================================================
  Section#call-to-action 
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #call-to-action .container p:first-child {
    margin-top: 5rem;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-bottom: 10px;
    line-height: 1.5;
  }

  #call-to-action h1 {
    font-size: 40px;
    line-height: 1.4;
  }

  #call-to-action p:nth-child(3) {
    font-size: 1rem;
    line-height: 2;
    padding: 0 8rem;
  }

  #call-to-action .btn {
    padding: 0.6rem 1.6rem;
  }
}
