/* 
 =========================================================================================================================
  header 
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  header {
    --brand-icon-height: 35px;
    font-size: 0.88rem;
  }

  header img {
    height: var(--brand-icon-height);
  }

  header ul {
    margin-right: 4rem;
  }

  header .btn {
    padding: 0.4rem 1.4rem;
    font-size: 0.88rem;
  }
}

@media (max-width: 1200px) {
  header {
    --brand-icon-height: 30px;
    font-size: 0.78rem;
  }

  header img {
    height: var(--brand-icon-height);
  }

  header ul {
    margin-right: 3rem;
  }
}

@media (max-width: 992px) {
  header .container > ul,
  header .container > a {
    display: none;
  }

  header .container > i {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/* 
 =========================================================================================================================
  aside 
 =========================================================================================================================
*/

@media (max-width: 576px) {
  aside img {
    height: 30px;
  }

  aside .container > .btn {
    padding: 0.3rem 1rem;
  }

  aside nav {
    padding-left: 2rem;
  }
}

@media (max-width: 336px) {
  aside img {
    height: 25px;
  }

  aside > .container .btn {
    margin-right: 1rem;
    font-size: 0.88em;
  }
}

/* 
 =========================================================================================================================
  Section#call-to-action 
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #call-to-action .container p:first-child {
    margin-top: 5rem;
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-bottom: 10px;
    line-height: 1.5;
  }

  #call-to-action h1 {
    font-size: 40px;
    line-height: 1.4;
  }

  #call-to-action .container p:nth-child(3) {
    font-size: 1rem;
    line-height: 2;
    padding: 0 8rem;
  }

  #call-to-action .btn {
    padding: 0.6rem 1.6rem;
  }
}

@media (max-width: 1200px) {
  #call-to-action,
  #call-to-action::after,
  #call-to-action::before {
    --call-to-action-height: 100vh;
    min-height: var(--call-to-action-height);
  }

  #call-to-action .container p:nth-child(1) {
    margin-top: 4rem;
  }

  #call-to-action .container p:nth-child(3) {
    padding: 0 5rem;
  }
}

@media (max-width: 992px) {
  #call-to-action,
  #call-to-action::after,
  #call-to-action::before {
    --call-to-action-height: 700px;
    min-height: var(--call-to-action-height);
    padding-bottom: 3rem;
  }

  #call-to-action .container p:nth-child(1) {
    margin-top: 3rem;
  }

  #call-to-action .container p:nth-child(3) {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #call-to-action,
  #call-to-action::after,
  #call-to-action::before {
    --call-to-action-height: 450px;
    min-height: var(--call-to-action-height);
    padding-bottom: 3rem;
  }

  #call-to-action::before {
    display: none;
  }

  #call-to-action .container p:first-child {
    font-size: 0.7rem;
    margin-top: 2rem;
  }

  #call-to-action h1 {
    font-size: 24px;
  }

  #call-to-action .container p:nth-child(3) {
    font-size: 0.8rem;
  }

  #call-to-action .btn {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  #call-to-action .container p:first-child {
    margin-top: 0;
  }
}

/* 
 =========================================================================================================================
  Section#hero 
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #hero article {
    padding: 4rem 3rem;
  }

  #hero h1 {
    font-size: 30px;
  }

  #hero p {
    font-size: 0.95rem;
  }

  #hero .btn {
    padding: 0.5rem 1.3rem;
  }

  #hero article > div {
    margin-top: 2rem;
  }
}

@media (max-width: 992px) {
  #hero {
    grid-template-columns: 1fr;
  }

  #hero article {
    padding: 6rem;
  }
}

@media (max-width: 768px) {
  #hero article {
    padding: 3rem;
  }
}

@media (max-width: 576px) {
  #hero article {
    padding: 3rem 10px;
  }

  #hero h1 {
    font-size: 24px;
  }

  #hero p {
    font-size: 0.9rem;
  }
}

/* 
 =========================================================================================================================
  Section#statements
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #statements {
    padding: 4rem 0;
  }

  #statements i {
    font-size: 1.5rem;
    margin: 1rem auto;
  }

  #statements h3 {
    font-size: 1.5rem;
  }

  #statements h1 {
    font-size: 30px;
  }

  #statements p {
    font-size: 0.9rem;
    padding: 0 15rem;
  }

  #statements .btn {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  #statements {
    padding: 3rem 0;
  }

  #statements p {
    padding: 0 10rem;
  }
}

@media (max-width: 992px) {
  #statements p {
    padding: 0 5rem;
  }
}

@media (max-width: 768px) {
  #statements p {
    padding: 0;
  }
}

@media (max-width: 576px) {
  #statements i {
    font-size: 1rem;
  }

  #statements h3 {
    font-size: 1rem;
  }

  #statements h1 {
    font-size: 1.5rem;
  }

  #statements p {
    font-size: 0.85rem;
  }
}

/* 
 =========================================================================================================================
  Section#principal
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #principal article:nth-child(1) {
    padding: 4rem;
  }

  #principal article:nth-child(1) > div p {
    font-size: 0.9rem;
  }

  #principal article:nth-child(1) > div h2 {
    font-size: 1.2rem;
  }

  #principal article:nth-child(1) > div blockquote {
    font-size: 0.9rem;
  }

  #principal article:nth-child(1) > p {
    font-size: 1.3rem;
  }
}

@media (max-width: 1200px) {
  #principal {
    grid-template-columns: 5fr 4fr;
  }
}

@media (max-width: 992px) {
  #principal {
    grid-template-columns: 1fr;
  }

  #principal article:nth-child(2) {
    display: none;
  }
}

@media (max-width: 576px) {
  #principal article:nth-child(1) {
    padding: 3rem 10px;
  }

  #principal article:nth-child(1) > div {
    padding-left: 1.5rem;
  }

  #principal article:nth-child(1) > div::before {
    width: 0.25rem;
  }
}

/* 
 =========================================================================================================================
  Section#notice
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #notice {
    padding: 3rem 0;
  }

  #notice > i {
    font-size: 1.5rem;
  }

  #notice > p {
    font-size: 1rem;
  }

  #notice > h2 {
    font-size: 30px;
  }

  #notice .container {
    gap: 2rem;
    padding: 1.5rem 3rem;
  }

  #notice .box h2 {
    font-size: 1.2rem;
  }

  #notice .box > p:nth-child(2) {
    font-size: 0.9rem;
  }

  #notice .btn {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  #notice .container {
    padding: 2rem 0;
  }
}

@media (max-width: 992px) {
  #notice .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  #notice .container {
    padding: 2rem 1rem;
  }

  #notice > i {
    font-size: 1rem;
  }

  #notice > p {
    font-size: 0.9rem;
  }

  #notice > h2 {
    font-size: 24px;
  }

  #notice .box h2 {
    font-size: 1.1rem;
  }

  #notice .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1.3rem;
  }
}

/* 
 =========================================================================================================================
  Section#events
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #events .top i {
    font-size: 1.5rem;
  }

  #events .top p {
    font-size: 1.5rem;
  }

  #events .top h1 {
    padding: 0 15rem;
    font-size: 30px;
  }

  #events .bottom {
    padding: 2rem 6rem;
  }

  #events .bottom .box {
    padding: 1.5rem;
  }

  #events .bottom .box p:first-child {
    font-size: 0.9rem;
  }

  #events .bottom .box span {
    font-size: 54px;
  }

  #events .bottom .box h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  #events .top h1 {
    padding: 0 10rem;
  }
  #events .bottom {
    padding: 2rem 4rem;
  }
}

@media (max-width: 992px) {
  #events .top h1 {
    padding: 0 7rem;
  }
  #events .bottom {
    padding: 2rem 5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  #events .top i {
    font-size: 1rem;
  }

  #events .top p {
    font-size: 1rem;
  }

  #events .top h1 {
    padding: 0 5rem;
    font-size: 24px;
  }
  #events .bottom {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  #events .top h1 {
    padding: 0 1rem;
  }
  #events .bottom {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
  }
}

/* 
 =========================================================================================================================
  Section#get-in-touch
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #get-in-touch {
    padding: 4rem 0;
  }

  #get-in-touch .container article:nth-child(1) {
    margin-left: 4rem;
  }

  #get-in-touch .container article:nth-child(2) {
    margin-right: 4rem;
  }

  #get-in-touch .container article:nth-child(1) div h2 {
    font-size: 48px;
  }

  #get-in-touch .container article:nth-child(2) h2 {
    font-size: 32px;
  }

  #get-in-touch .container article:nth-child(2) .btn {
    padding: 0.5rem 1.3rem;
  }

  #get-in-touch .policy {
    padding: 3rem 15rem;
  }
}

@media (max-width: 1200px) {
  #get-in-touch .container {
    gap: 3rem;
  }

  #get-in-touch .container article:nth-child(1) {
    margin-left: 0;
  }

  #get-in-touch .container article:nth-child(2) {
    margin-right: 0;
  }

  #get-in-touch .policy {
    padding: 3rem 8rem;
  }
}

@media (max-width: 992px) {
  #get-in-touch .container {
    grid-template-columns: 1fr;
  }

  #get-in-touch .container article:nth-child(1) {
    gap: 3rem;
  }

  #get-in-touch .policy {
    padding: 3rem 6rem;
  }
}

@media (max-width: 768px) {
  #get-in-touch .container article:nth-child(1) {
    gap: 2rem;
  }

  #get-in-touch .policy {
    padding: 3rem;
  }
}

@media (max-width: 576px) {
  #get-in-touch .container article:nth-child(1) {
    gap: 1rem;
  }

  #get-in-touch .container article:nth-child(1) div p {
    font-size: 12px;
    letter-spacing: 3px;
  }

  #get-in-touch .policy {
    padding: 3rem 1rem 2rem;
  }
}

@media (max-width: 411px) {
  #get-in-touch .container article:nth-child(1) {
    grid-template-columns: 1fr;
  }

  #get-in-touch .container article:nth-child(1) div {
    height: 150px;
  }
}

/* 
 =========================================================================================================================
  footer
 =========================================================================================================================
*/

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }

  footer p {
    text-align: center;
  }

  footer ul {
    order: -1;
  }
}

/* 
 =========================================================================================================================
  Section#staff-hero
 =========================================================================================================================
*/

@media (max-width: 1400px) {
  #staff-hero .container {
    padding-left: 60px;
  }

  #staff-hero .container p:nth-child(1) {
    font-size: 0.9rem;
  }

  #staff-hero .container h2 {
    font-size: 2.5rem;
  }

  #staff-hero .container p:nth-child(3) {
    font-size: 0.9rem;
  }

  #staff-hero .container .btn {
    padding: 0.6rem 1.3rem;
  }
}

@media (max-width: 1200px) {
  #staff-hero .container {
    padding-left: 40px;
  }

  #staff-hero .container p:nth-child(3) {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  #staff-hero .container {
    padding-left: 0;
    min-height: 200px;
  }

  #staff-hero .container h2 {
    font-size: 2rem;
  }

  #staff-hero .container .btn {
    padding: 0.5rem 1.2rem;
  }
}

@media (max-width: 576px) {
  #staff-hero .container {
    padding: 10px;
  }
}
