@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/* 
 =========================================================================================================================
  Main Setting 
 =========================================================================================================================
*/

:root {
  --header-height: 60px;
  --header-transition-time: 1s;
  --brand-icon-height: 30px;
}

:root {
  /* Orange Theme */
  --theme-primary-color: #ff7335;
  --theme-primary-light-1: #ff8c5b;
  --theme-primary-alt-color: #6e2506;
  --theme-hero-box-shadow-color: #ff7335ff;
  --theme-statement-box-shadow-color: #ff733532;
  --theme-principal-box-shadow-color: #6e2506cc;
  --theme-hero-bg-color: #ff733588;
}

:root {
  /* Blue Theme */
  --theme-primary-color: #4e88ff;
  --theme-primary-light-1: #76a4ff;
  --theme-primary-alt-color: #222744;
  --theme-hero-box-shadow-color: #4e88ffff;
  --theme-statement-box-shadow-color: #4e88ff32;
  --theme-principal-box-shadow-color: #222744cc;
  --theme-hero-bg-color: #4e88ff88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", Helvetica, Arial, Lucida, sans-serif;
}

body {
  overflow-x: hidden;
}

section {
  max-width: 100%;
  overflow: hidden;
}

/* 
 =========================================================================================================================
  Scroll Bar
 =========================================================================================================================
*/
/* 
::-webkit-scrollbar {
  width: auto;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0 0 0 / 25%);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0 0 0 / 50%);
} */

/* 
 =========================================================================================================================
  Button
 =========================================================================================================================
*/

.btn {
  background-color: var(--theme-primary-color);
  font-weight: bold;
  color: #fff;
  border-radius: 2rem;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
}

/* 
 =========================================================================================================================
  Others
 =========================================================================================================================
*/

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}
